
<div class="repos">
  <p class="repos-sort">Ordering by stars count:
    <button class="btn-primary" (click)="toggleSort()">
      <i class="fas fa-angle-double-{{ isSortingDesc ? 'down' : 'up' }}"></i>
    </button>
  </p>

  <div *ngIf="loading || loadingError" class="col-xs-12">
    <app-loader *ngIf="loading"></app-loader>

    <p *ngIf="loadingError">Loading error, please try again later.</p>
  </div>

  <div *ngFor="let repo of repos" class="repo-card">
    <h3 class="repo-name">{{ repo.name }}</h3>

    <p class="repo-stars">
      <i class="fas fa-star"></i> {{ repo.stargazers_count || '0' }}
    </p>
    <p *ngIf="repo.description" class="repo-description">
      <b class="repo-description-title">Description:</b><br>
      {{ repo.description }}
    </p>

    <a [routerLink]="[repoDetails, repo.name]" class="btn-primary highlighted">see more</a>
  </div>
</div>
