
// Font wheight
$light: 300;
$regular: 400;
$bold: 700;

// Colors
$white: #fafafa;
$black: #1e1e1e;
$gray-dark: #2a2a2c;
$purple: #6746ed;
$green: #4febc8;
$red: #f24646;

$default-color: $white;
$global-bg: $black;
$global-font: 'Montserrat';
$fa-font-path: 'src/assets/fontawesome';
$outer-margin: 4rem;
