

<div class="container">
  <div class="row">
    <div *ngIf="user" class="user-details col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class="user-avatar">
            <img src="{{ user.avatar_url }}" alt="{{ user.login }}" class="user-avatar-img">
          </div>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-1">
          <h2 *ngIf="user.name" class="user-name">{{ user.name }}</h2>
          <p *ngIf="user.company" class="user-company">{{ user.company }}</p>
          <p *ngIf="user.email" class="user-email">{{ user.email }}</p>
          <p *ngIf="user.bio" class="user-bio">{{ user.bio }}</p>

          <div class="row">
            <div class="col-xs-12">
              <app-tag [data]="user.followers" info="Followers"></app-tag>
              <app-tag [data]="user.following" info="Following"></app-tag>
            </div>
            <div class="col-xs-12">
              <h3 class="user-repos-title">Repositories</h3>
              <app-repositories [repos]="repos" [user]="userLoginParam"></app-repositories>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div *ngIf="loading || loadingError" class="row">
    <div class="col-xs-12">
      <p *ngIf="loading">Loading...</p>
      <p *ngIf="loadingError">Loading error, try another user.</p>
    </div>
  </div>
</div>
