
<div class="search" [ngClass]="{cover: root || slideIn}">
  <button class="search-close btn-clear" (click)="leave()">x</button>

  <div class="container">
    <form [formGroup]="form" class="search-form">
      <input
        type="text"
        name="q"
        placeholder="Search a user..."
        formControlName="query"
        autocomplete="off"
        class="form-field"
      >
    </form>

    <app-users-list
      *ngIf="results?.length; else loadingError;"
      [users]="results"
      [loading]="loading"
      (loadMore)="search(true)"
      (leave)="leave()">
    </app-users-list>

    <p *ngIf="loading" class="app-loader">Loading...</p>

    <p *ngIf="loadingError">Loading error, please try again later.</p>
  </div>
</div>
